{% extends "update_form.html" %}
{% block title %}    <title>Job Position Entry</title> {% endblock %}


{% block header_panel %}{% endblock %}
{% block info_pane %}
    {% if added_job %}
    <h3>Added Job</h3>
    <p>
    Company: {{ added_tech.company }}
	Position: {{ added_job.position }}
	Location: {{ added_job.location }}
	start_date: {{ added_job.start_date }}
	end_date: {{ added_job.end_date }}
	experiences: {% if added_job.experiences %} True {% else %} None {% endif %} 
    </p>
    {% endif %}
    
    {% if removed_job %}
        <h3> Removed the following Job:</h3>
        {% for job in removed_job %}
            --{{ job.position }}<br/>
        {% endfor%}
    {% endif %}
    <!-- If there is a duplicate, error block will handle it from the back.-->
{% endblock %}<br/>

{% block error_block %}
     {% if errors %}
        {% for err in errors %}
        ERROR:{{ err }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block update_form %}
<h2>Enter New job position</h2>
<p>
    <form action="/add_job/" method="post">
	<label for="Company">Company:</label>
        <input type="text" name="company"><br/>
       	<label for="Position">Position:</label>
	<input type="text" name="position"><br/>
	<label for="Location">Location:</label>
	<input type="text" name="location"><br/>
	<label for="Started">Started:</label>
	<input type="date" name="start_date"><br/>
	<label for="Ended">Ended:</label>
	<input type="date" name="end_date"><br/>
	<input type="submit" name="submit"><br/>
    </form>
</p>
    {% if not jobs %}
    <h3>No Jobs have been entered; thus nothing be modified</h3>
    {% endif %}
<form action="/modify_job/" method="POST">
<!-- Since we are inferring multiple can be removed, submitting as POST. In a restful API structure, we'd DELETE in a CRUD manner.-->
{% for job in jobs %}
    <input type="radio" name="mod_jobs" value="{{ job.id }}"> {{ job.company }} :: {{ job.position }} <br/>
{% endfor %}
<input type="submit" name="modify" value="Modify">
</p>

</form>

{% endblock %}



{% block modify_entries %}{% endblock %}
