{% extends "update_form.html" %}
{% block title %}    <title>New Tech Entry</title> {% endblock %}

{% block header_panel %} 
    Nien! 
{% endblock %}

{% block info_pane %}
    {% if added_tech %}
    <h3>Added Tech</h3>
    <p>
    Tech: {{ added_tech.name}}
    Tech Type: {{ added_tech.tech_type }}
    </p>
    {% endif %}
    
    {% if removed_tech %}
        <h3> Removed the following Tech:</h3>
        {% for tech in removed_tech %}
            --{{ tech }}<br/>
        {% endfor%}
    {% endif %}
    <!-- If there is a duplicate, error block will handle it from the back.-->
{% endblock %}
{% block error_block %}    
    {% if errors %}
        {% for err in errors %}
        ERROR:{{ err }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block update_form %}
<h2>Enter New Tech Experience</h2>
<p>
    <form action="/add_tech/" method="POST">
	<label for="Tech">Technolgy Used:</label>
        <input type="text" name="tech_name"><br/>
       	<label for="Type">Type:</label>
	<select name="tech_type">
		<option name="L">Language</option>
		<option name="Fr">Framework</option>
		<option name="T">Tools</option>
		<option name="K">Kits</option>
		<option name="E">Extensions</option>
	</select><br/>
	<input type="submit" name="submit"><br/>
    </form>
</p>

<p>
<form action="/remove_tech/" method="POST">
<!-- Since we are inferring multiple can be removed, submitting as POST. In a restful API structure, we'd DELETE in a CRUD manner.-->
{% for tech in techs %}
<input type="checkbox" name="rm_techs[]" value="{{ tech.name }}"> {{ tech.name }} :: {{ tech.tech_type }} <br/>
{% endfor %}
<input type="submit" name="remove" value="Remove">
</p>

</form>
{% endblock %}


{% block modify_entries %}
{% endblock %}











