<html>

<head>
<title>About Angel Silva Jr.</title>
<link rel=StyleSheet href="sub/style.css" type="text/css">
<link rel=StyleSheet href="sub/toolbar.css" type="text/css">
<script src="sub/me.js"></script>
</head>

<body onload="startTime()">
	<div id="toolbar">
		<table id="toolbar-table"><tr>
		<td id="page_cell"><div class="txt"></div></td>
		<td id="info_cell"><div class="txt"></div></td>
		<td id="time_cell"><div class="txt" id="time"></div></td>
		</tr></table>
	</div>

	
<div id="update_block">
	<h2>About this Page...</h2>
	<div id="division"></div>
	<p>Think of this page as a scratch sheet for something bigger. That's not meant to be anything motivational or anything, just looking forward to doing something flashy involving a lot of JavaScript. I have had former "About Me" here and here, but I mean, most of that was all HTML based (no-css, no-js)</p>
</div>
<div class="layout">	



<div class="logo">
	<h1 class="name">Angel Silva Jr.</h1>
</div>



<div id="about" class="block">
	<img src="sub/me_campus.jpg" alt="Hoping to integrate Profile pic with facebook">
	<div class="text-block"><h3>About Me: A complex minded person, attempting to keep it simple.</h3></div>
	<div class="text-block">
	<p class="about">I started programming in High School, if that means anything, my first langauge was C++. I was told by my teacher that I didn't seem interested into programming, I added more features into my programm perfecting it.</p> 
	<p class="about">I'm name is Angel Silva Jr., graduated from University of Texas at Austin. I began my studies as an Electrical/Computer Engineer. Over the years, I got fell unintrested on understanding the electrical engineering aspect of the program and transfered into Computer Science.
		</p></div>
</div>
<div class="block">
<div id="courses">
	<table id="coursework">
	<tr>
		<th><h2>Work Experience</h2></th>
		<th><h2>Courses</h2></th>
	</tr><tr>
	<td>	
		<ul>
			<li><a id="sub1" onmouseover="javascript:alert('Welcome!');"><b>Spiceworks</b> - <u>Product Test Engineer</u></a></li>
			<li><b>ShoreTel</b> - <u>QA Automation Software Engineer</u></li>
			<li><b>Austin Tele-Services</b> - <u>Test Engineer</u></li>
			<li><b>University of Texas at Austin</b> - <u>Library</u></li>
			<li><b>Target</b> - <u>Electronic Sales</u></li>
			<li><b>Fry's Electronics</b> -  <u>Electronic Product Tester</u></li>
			<li><b>Pretzel Maker</b> - <u>Employee a.k.a Pretzel Roller</u></li>
			<li><b>Soccorro I.S.D.</b> - <u>Event Stage Technician</u></li>
		</ul>
	</td>
	<td>
		<ul>
			<li>Software Design</li>
			<li>Object Oriented Programming</li>
			<li>Software Engineering</li>
			<li>Algorithms</li>
			<li>Databases</li>
			<li>Mobile Programming</li>
			<li>Operating Systems</li>
		</ul>
	</td></tr>
	</table>
</div>
<div id="work">
	
	<table>
	<th></th><tr></tr></table>
</div>
</div>
<div id="Languages" class="block">
	<h2>Skills (Languages & Tools)</h2>
	<div class="skills">
		<h3>Languages</h3>
		<ul>
			<li class="popup">Ruby
			<aside>Spiceworks - Using Watir/Waitr-Webdriver and Rspec, scripted and maintained Automation Scripts</aside></li>
			<li class="popup">Python
			<aside>College - Multiple courses; Most Significant course was Software Engineering, involving Google App-Engine, XMPP, and MySQL creating an mini-Wikipedia Example.</aside></li>
			<li class="popup">C++
			<aside>College - Multiple Courses; Most Significant course used in was Object Oriented Programming.</aside></li>
			<li class="popup">C#
			<aside>Global Game Jam - Microsoft's XNA Framework; Developed 2D over the span of a weekend.</aside></li>
			<li class="popup">Java
			<aside>College - 3 Yrs. Exp. from a variety of courses in College.</aside></li>
			<li class="popup">JavaScript
			<aside><ul>
				<li>Personal Project: Using Node.js, created a turntable.fm bot. Code could be found at <a href="github.com/asilvajr">github.com/asilvajr</a> </li>
				<li>This Site</li>
			</ul></aside></li>
		</ul>
	</div><div class="skills">
		<h3>Other Languages</h3>
		<ul>
			<li class="popup">C
			<aside>In the College of Engineering, studying Electrical and Computer Engineering. A project involved C, CISC assembly; won first place across a course competition.</aside></li>
			<li class="popup">TCL/iTCL
			<aside>Shoretel, QA Automation was developed with Perl and iTCL/tk. As a Software Engineer, I only focused on script development with iTCL.</aside></li>
			<li class="popup">JQuery
			<aside>Austin Tele-Services, as a side project during downtime, as an alternative to using Javascript, we used Jquery as an alternative in the development of a internal web pages.</aside></li>
			<li class="popup">SQLite3
			<aside>College + Spiceworks, Was consistently used and tested with as a primary database type at Spiceworks.</aside></li>
			<li class="popup">MySql
			<aside>With the development of personal websites and trying new things, this was an alternative database I used besides SQLite</aside></li>
		
		</ul>
	</div><div class="skills" id="tools">
		<h3 class="popup">Frameworks and Dev-Tools <aside>Click Links to visit Tool's Homesite</aside></h3>
		<ul>
			<li class="popup"><a href="http://watir.com/">Watir</a></li>
			<li class="popup"><a href="http://watirwebdriver.com/">Watir-Webdriver</a></li>
			<li class="popup"><a href="http://rspec.info/">RSpec</a></li>
			<li class="popup"><a href="https://www.djangoproject.com/">Django</a></li>
		</ul>
	</tr>
	</table>
</div>
<div id="projects" class="block">
	<h2>Project Listing</h2>
	<ul>
		<li class="popup">Conan's Nightmare</li>
		<li class="popup">Social Media App</li>
		<li class="popup">Simple A/B Testing</li>
		<li class="popup">Turntable.fm Robot</li>
		<li class="popup"></li>
	</ul>
</div>
<div class="block"></div>
</div>
</body>

</html>
