<html>
<head>

</head>
<body>
{% load staticfiles %}
It's been <b>{{ weeks }} weeks </b>and<b> {{ days }} </b>since you owned your Subaru BRZ.<br/>
which means you have a milage allowance of <b>{{ mileage_allowance }}.</b> <br/>

By this coming Saturday, you should have <b>{{ mileage_plus }}. </b><br/>

Calculations based on Annual 15K miles that should be driven in a year.

<!-- img src="{{ MEDIA_URL }}Subaru-brz.jpg" --><!--/img-->
<!-- img src="{% static "Subaru-brz.jpg" %}" ></img -->
<img src="/static/mysite/Subaru-brz.jpg" alt="My Subaru">
</body>
</html>

