{% extends "update_form.html" %}
{% block title %}    <title>Job Position Entry</title> {% endblock %}
{% block update_form %}
<h2>Enter New job position</h2>
<p>
    <form action="/search/" method="post">
	<label for="Company">Company:</label>
        <input type="text" name="Company"><br/>
       	<label for="Position">Position:</label>
	<input type="text" name="Position"><br/>
	<label for="Location">Location:</label>
	<input type="text" name="Location"><br/>
	<label for="Started">Started:</label>
	<input type="date" name="start_date"><br/>
	<label for="Ended">Ended:</label>
	<input type="date" name="end_date"><br/>
	<input type="submit" name="Submit"><br/>
    </form>
</p>
{% endblock %}
