{% extends "update_form.html" %}
{% block title %}    <title>Solo Experience Entry</title> {% endblock %}
{% block update_form %}
<h2>Enter New Experience</h2>
<p>
    <form action="/add_exper/" method="post">
	<label for="Event">Event:</label>
        <input type="text" name="Event"><br/>
       	<label for="Description">Description:</label>
	<textarea type="textarea" name="Description"></textarea><br/>
	<label for="Technology">Technology Used:</label>
	<input type="text" name="Technology"><br/>
	<input type="submit" name="Submit"><br/>
    </form>
</p>
{% endblock %}
